.App {
  /* margin: 0 auto; */
  /* background: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid blue; */
  min-height: 100vh;
  padding: 1.5em;
  position: relative;
}



@media (min-width: 280px) and (max-width: 480px) {
  .empty-section p {
    font-size: 1.1em
  }
}

.ui.icon.button.github {
  /* background: red; */
  position: absolute;
  bottom: 1%;
  left: 1%
}